#pass-info {
	font-family: verdana;
	background-color: #ccc;
	font-size: 1.1em;
	line-height: 1.5em;
	border: 1px solid #333;
	padding: 6px 12px;
	color: $pitch;
	display: inline-block;
	display: none;
	position: relative;
	top: 100%;
	z-index: 999;
	
	@media screen and (min-width: 800px) {
		@include box-shadow(-1px 2px 3px #111);
		position: absolute;
		margin: 6px 0 0 20px;
		top: 0;
		
	}
}

#pass-info-close {
	position: absolute;
	font-family: arial;
	font-size: 19px;
	line-height: 17px;
	right: 0;
	color: #ccc;
	background-color: $pitch;
	top: 0;
	width: 15px;
	height: 15px;
	text-decoration: none;
	//background-color: $pitch;
	//background-color: $pitch;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	//border-left: 1px dotted $pitch;
	//border-bottom: 1px dotted $pitch
	//@include box-shadow(0 0 3px $pitch);
}

#passMap {
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 0;
	padding-bottom: 50%;
	background-color: $pitch;
	
	table {
		
		width: 100%;
		position: absolute;
		@include opacity(.2);
		display: none;
		
		td {
			text-align: right;
			border-left	: 1px solid white;
			border-top	: 1px solid #999;
			width: 10%;
			padding-bottom: 5%;
		}
		
	}
	
	.pitch-lines {
		
		@include opacity(.2);
		
		.center-circle {
			position: absolute;
			left: 50%;
			width: 20%;
			height: 100%;
			border-left: 1px solid $pitchlines;
	
			&:after {
				
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				content: '';
				border: 1px solid $pitchlines;
				position: relative;
				left: -50%;
				top: 30%;
				margin-left: -1px;
				margin-top: -1px;
				display: block;
				@include border-radius(50%);
			}
		}
		.penalty-box {
			position: absolute;
			width: 18%;
			height: 44%;
			top: 28%;
			margin-top: -1px;
			border: 1px solid $pitchlines;
			border-left: 0;
			
			.six-yard {
				width: 33.333%;
				border: 1px solid $pitchlines;
				border-left: 0;
				height: 50%;
				top: 25%;
				position: absolute;
				margin-top: -1px;
			}
			
			&.right {
				right: 0;
				border: 1px solid $pitchlines;
				border-right: 0;
			
				.six-yard {
					border: 1px solid $pitchlines;
					border-right: 0;
					right: 0;
				}
				
				.goal {
					left: auto;
					right: -12%;
				}
			}
		}
		
		@media (min-width: 1000px) {
			border-width: 3px;
			
			.penalty-box, 
			.penalty-box .six-yard,
			.penalty-box.right, 
			.penalty-box.right .six-yard,
			.center-circle,
			.center-circle:after {
				border-width: 2px;
			}
			
		}
	}
	
	#passes {
		
		position: absolute;
		height: 100%;
		width: 100%;
		
		.shot {
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			z-index: 30;
			@include opacity(.8);
			
			&.miss:after {
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $pitch;
				position: absolute;
				left: 2px;
				top: 2px;
			};
		}
		
		.pass {
			position: absolute;
			display: block;
			height: 2px;
			margin: -1% 0 0 -.5%;
			background-color: #e0705a;
			@include opacity(.4);
			z-index: 20;
			color: white;
			text-transform: uppercase;
			-webkit-transform-origin: 0 0;
			margin: 0;
			padding: 0;
			
			.arrowhead {
				display: block;
				position: relative;
				right: -8px;
				top: -2px;
				height: 0;
				width: 0;
				float: right;
				border-top-width: 3px;
				border-top-style: solid;
				border-top-color: transparent;
				border-bottom-width: 3px;
				border-bottom-style: solid;
				border-bottom-color: transparent;	
				border-left-width: 10px;
				border-left-style: solid;
				border-left-color: inherit;	
			}
			
			
			
			&.selected:after {
				border-left: 10px solid #e3e854;				
			}
			
			.end {
				float: right;
			}
		}
		
		.selected {
			
			@include opacity(1);
			@include box-shadow(1px,1px,1px,black, 1);
		}
		
		.team-812 {
			
			background-color: #5ae0af;
			
			&:after {
				border-left: 10px solid #5ae0af;				
			}
		}
	}
}