.top-bar.fixed {
	position: fixed;
}
.top-bar {
	width: 100%;
	background-color: $pitch;
	top: 0;
	margin-bottom: .5em;
	position: relative;
	
	h1 {
		color: #efefef;
		font-weight: 200;
		font-size: 3.8em;
		padding: 0;
	}
	
	.info {
		padding: 10px 2%;
	}
	
	.main-nav & {
		
	}
	
	.score {
		display: inline-block;
		color: #333;
		background-color: #efefef;
		min-width: 1em;
		text-align: center;
		font-size: .6em;
		line-height: 1.1em;
		font-weight: normal;
		margin: 0 .4em 0 .1em;
		position: relative;
		@include box-shadow(1px 1px 3px #000);
		top: -.1em;
		@include border-radius(2px);
	}
	
	.details {
		margin-top: .3em;
		font-weight: 200;
		font-size: 1.7em;
	}
	
	@mixin activeInternalA {
		color: #333;
		background-color: #efefef;
		@include box-shadow(inset 3px 3px 6px #999);
		@include text-shadow(1px 1px 4px #fff);
	}
	
	//On the passmap page
	&.map-1 .internal-nav .map a {
		@include activeInternalA();
	}
	
	//On the Stats page
	&.map-0 .internal-nav .stats a {
		@include activeInternalA();
	}
	
	nav {
		margin-top: 1em;
		font-size: 2em;
	}
	
	.internal-nav {
		
		font-family: "eurofurence", arial;
		font-weight: normal;
		overflow: hidden;
		width: 100%;
		height: 2em;
		background-color: rgba(255,255,255, .1);
		
		> li {
			display: inline;
		}
		
		.matches {
			
		}
		
		.map {
			
		}
		
		.stats {
			
		}
		
		a {
			display: block;
			float: left;
			width: 33%;
			color: #333;
			font-weight: normal;
			text-align: center;
			text-decoration: none;
			color: #efefef;
			text-transform: uppercase;
			line-height: 2em;
			height: 2em;
			letter-spacing: 1px;
			@include text-shadow(1px 1px 4px #333);
			
			small {
				display: inline;
				font-size: .8em;
				font-weight: 200;
				position: relative;
				top: -.15em;
			}
			
			&.active {
				color: red;
			}
		}
	}
	
	@media screen and (min-width: 800px) {
		
		nav {
			width: auto;
			position: absolute;
			margin-top: 0;
			right: 20px;
			font-size: 1.8em;
			bottom: 0;
			
			.internal-nav {
				overflow: visible;
				height: auto;
				width: 8em;
				
				.matches a {
					width: 100%;
					display: block;
				}
				
				background: transparent none;
				
				a {
					@include text-shadow(1px 1px 2px #000);
					background: transparent none;
					//display: inline-block;
					width: 50%;
					letter-spacing: 0;
				}
			}
		}
	}
	
	.v {
		//border-bottom: 1px solid #efefef;
	}
}