/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "vars";

@media (min-width: 900px) {
	$fieldBorder : 4px;		
}

body {
	background-color: #eeede1;
	color: #efefef;
	font-family: arial;
	font-weight: 200;
	font-size: 10px;
}

h2,h3,h1 {
	font-family: "eurofurence", arial;
}

h1 {
	font-size: 4em;
}

h2 {
	font-weight: normal;
	font-size: 4em;
}

h3 {
	font-size: 2em;
}

strong {
	font-weight: bold;
}

.infoModalWrapper {
	position: absolute;
	line-height: 1.3em;
	width: 12em;
	padding: .25em;
	border: 1px solid #333;
	background-color: #1e1e1e;
	z-index: 90;
	@include opacity(.8);
	color: white;
	margin-left: 0;
	margin-top: -5em;
	text-align: right;
	font-size: 1.3em;
	
	strong {
		font-weight: bold;
	}
}

.test_dot {
	position: absolute;
	text-indent: -999em;
	height: 2px;
	width: 2px;
	@include border-radius(50%);
	background: #e64519 none;
	border: 4px solid #e0b214;
	margin: 0;
	
	&.origin {
		background-color: #1bd6ec;
		border: 4px solid #bdeaef;
	}
}

#events-view {
	
	font-size: 1.1em;
	color: #333;
	
	.timeline {
		
		height: 400px;
		overflow-y: scroll;
				
		ol {
		
			li {
				background-color: #f5f4de;
				border: 1px solid #999;
				min-width: 150px;
				margin: .4%;
				padding: .5%;
				@include box-shadow(0 1px 1px rgba(0,0,0,.25));
			}
		}
	}
}

.no-break {
	white-space: nowrap;
}

.menu {
	color: #2c2c2c;
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0;
	
	&:before {
		@include background-image(linear-gradient(top, #343434, transparent));
		content: "";
		display: block;
		height: 4px;
		width: 100%;
	}
	
	
	.team-menu {
		display: inline-block;
		margin: 0 6%;
		
		table {
			margin: 0 auto;
		}
	}
	
	clear: both;
	
	h4 {
		font-size: 1.5em;
		font-weight: bold;
		margin: 2em .5em .5em;
	}
	
	#slider-range {
		width: 90%;
		margin: 2em auto;
	}
}

@import "game-navigation";
@import "passmap";
@import "stats";
@import "mainNav";
@import "top-bar";