<div ng-include src="'partials/top-bar.html'" onload="map = 1"></div>
<figure id="passMap">
	<div id="passes">
		<div ng-repeat="event in events | filter:mapFilter | limitTo: 99999" ng-style="style();" ng-click="showMoreInfo()" ng-class="addClasses(this)">
			<div class="arrowhead"></div>
		</div>
	</div>
	<div class="pitch-lines">
		<div class="center-circle"></div>
		<div class="penalty-box left">
			<div class="six-yard"></div>
			<div class="goal"></div>
		</div>
		<div class="penalty-box right">
			<div class="six-yard"></div>
			<div class="goal"></div>
		</div>
	</div>
	<figcaption id="pass-info">
		<a href="javascript:void(0)" id="pass-info-close">&times;</a>
		<p class="content"><!-- pass info here --></p>
	</figcaption>
</figure>
<div class="menu">
	<div id="slider-vals">
		<div id="slider-range" ></div>
		<input type="hidden" name="start-time" ng-model="filterTime.start" />
		<input type="hidden" name="end-time" ng-model="filterTime.end" />
	</div>
	
	<div id="filters-menu">
		<form class="team-players-filters">
			<fieldset id="playerfilter">
				<div ng-repeat="team in teams" class="{{team['@attributes'].uID}} team-menu">
					<h4><input type="checkbox" value="{{team['@attributes'].uID}}" ng-model="requestedTeams" ng-checked="true" ng-click="filterTeams(this)"> {{team.Name}}</h4>
					<table>
						<tr ng-repeat="player in team.Player">
							<td><input ng-model="filterPlayers[player['@attributes'].uID]" type="checkbox" data-ng-true-value="{{player['@attributes'].uID}}"></td>
							<td><strong>{{player.PersonName.First}} {{player.PersonName.Last}}</strong></td>
							<td>{{player["@attributes"].Position | positionAbbreviate}}</td>
						</tr>
					</table>
				</div>
			</fieldset>
		</form>
	</div>
</div>