<div ng-include src="'partials/top-bar.html'" onload="map = 0"></div>
<div id="stats">
	<h2 class="category-heading">Passing</h2>
	<div class="category">
		<div ng-repeat="team in teams" class="team">
			<h3>{{team.Name}}</h3>
			<table class="passing">
				<tr>
					<th class="player">Player</th>
					<th class="position">Pos.</th>
					<th class="successful number">Passes</th>
					<th class="failed number">Att.</th>
					<th class="percent number">Pct</th>
				</tr>
				<tr ng-repeat="player in team.Player">
					<td class="player"><a ng-click="info(player, $event)">{{player.PersonName.Last}}, {{player.PersonName.First}}</a></td>
					<td class="position">{{player["@attributes"].Position | positionAbbreviate}}</td>
					<td class="successful number">{{player.stats.passes.successful}}</td>
					<td class="failed number">{{player.stats.passes.attempts}}</td>
					<td class="percent number">{{player.stats.passes.pct}}</td>
				</tr>
			</table>		
		</div>
	
		<h2 class="category-heading">Shots</h2>
		<div ng-repeat="team in teams" class="team">
			<h3>{{team.Name}}</h3>
			<table>
				<tr>
					<th class="player">Player</th>
					<th class="position">Pos.</th>
					<th class="successful number">Goals</th>
					<th class="failed number">Att.</th>
				</tr>
				<tr ng-repeat="player in team.Player">
					<td class="player"><a ng-click="info(player, $event)">{{player.PersonName.Last}}, {{player.PersonName.First}}</a></td>
					<td class="position">{{player["@attributes"].Position | positionAbbreviate}}</td>
					<td class="number"><strong>{{player.stats.shots.goals}}</strong></td>
					<td class="number">{{player.stats.shots.attempts}}</td>
				</tr>
			</table>		
		</div>
		
		<h2 class="category-heading">Defense</h2>
		<div ng-repeat="team in teams" class="team">
			<h3>{{team.Name}}</h3>
			<table>
				<tr>
					<th class="player">Player</th>
					<th class="position">Pos.</th>
					<th class="interceptions number">Int.</th>
					<th class="tackles number">Tack.</th>
					<th class="clearances number">Clear.</th>
				</tr>
				<tr ng-repeat="player in team.Player">
					<td class="player"><a ng-click="info(player, $event)">{{player.PersonName.Last}}, {{player.PersonName.First}}</a></td>
					<td class="position">{{player["@attributes"].Position | positionAbbreviate}}</td>
					<td class="number">{{player.stats.defense.interceptions}}</td>
					<td class="number">{{player.stats.defense.tackles}}</td>
					<td class="number">{{player.stats.defense.clearances}}</td>
				</tr>
			</table>		
		</div>
	</div>
</div>

<!--
	TODO: capture assists
-->